*.class
*.log

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
.bsp/sbt.json
.idea/misc.xml
.idea/modules.xml
.idea/runConfigurations.xml
.idea/scala_settings.xml
.idea/TST Scala Interview Project.iml
.idea/uiDesigner.xml
.idea/vcs.xml
.idea/workspace.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
